
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div>
        <h1>Módulo de Adminitrador</h1>
        <br />
        <p><b><a href="AdminAlumno">Administrador de Alumnos</a></b></p>
        <p><b><a href="AdminCarrera">Administrador de Carreras</a></b></p>
        <p><b><a href="../AdminAsignatura/Index">Administrador de Asignaturas y Carreras</a></b></p>
        <p><b><a href="../AdminDatosSaludAlumno/Index">Administrador de Alumnos y Datos de Salud</a></b></p>

        <br />

    </div>
</body>
</html>
