
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Trabajo Programación Avanzada III</h1>
        <br>
        <h4>Alumno: Gabriel Utreras</h4>
        <p>RUT: 17378493-7</p>
        <p>Sección: AP151</p>
        <br>
        <p><b><a href="/Admin/Inicio">Módulo de administrador </a></b></p>
    </div>
</body>
</html>
